{% extends 'postr/base.html' %}

  {% block content %}
    <h2>{{ post.title }}</h2>
    <h3>{{ post.author.user }} - {{ post.updated_at }}</h3>
    <p>
      {{post.body}}
    </p>

    <div class="comment-form">
      {% if user.is_authenticated %}
        <a href="{% url 'comment_create' post_id = post.id %}">+ > Add a comment</a>
      {% endif%}
    </div>

    <div class="comment-list">
      {% if post.comments %}
        {% for comment in post.comments %}
          <ul>
            <li>
              {% include comment.html %}
            </li>
          </ul>
        {% endfor %}
      {% endif %}
    </div>

  {% endblock content %}
